:root{
 --background-color: #000000;
 --text-principal: #FFFFFF;
 --text-secoond: #F7DF1E;
 --main-color:#1C047B;
 --header-color:#1c047be6;
 --secoond-color:#0F0036;
 --bar-progress-color: #00D8FF;
 --bar-title-color: #0F29BD;
}